/* Footer Container */
.footer {
  background: var(--primary-color);
  padding: 40px 5%;
  position: relative;
  overflow: hidden;
  color: var(--text-white);
  font-family: Arial, sans-serif;
}

/* Flex Container */
.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
  max-width: 1400px;
  margin: 0 auto;
}

/* Contact Section */
.contactSection, .locationsSection {
  flex: 1;
  min-width: 250px;
  margin-bottom: 30px;
}

.contactSection h3, .locationsSection h3 {
  font-weight: bold;
  margin-bottom: 15px;
  font-size: 18px;
  font-family: var(--therestyFont);
}

.email, .phone {
  margin-bottom: 10px;
  font-size: 16px;
}

.copyright {
  font-size: 14px;
  margin-top: 30px;
}

/* CTA Section */
.ctaSection {
  flex: 2;
  text-align: center;
  min-width: 300px;
  margin-bottom: 30px;
  font-family: var(--secondaryFont);
}

.heading {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.ctaButton {
  background: var(--backgroud-color);
  color:var(--primary-color);
  padding: 12px 30px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 30px;
  font-family: var(--secondaryFont);
}

.terms {
  font-size: 14px;
}

/* Locations */
.location {
  margin-bottom: 20px;
}

.location p {
  margin: 5px 0;
  font-size: 16px;
}

/* Social Icons */
.socialIcons {
  display: flex;
  gap: 15px;
  margin-top: 30px;
}

.icon {
  font-size: 20px;
  cursor: pointer;
}

/* Big Text at Bottom */
.bigText {
  font-size: 100px;
  font-weight: bolder;
  line-height: 0.9;
  position: relative;
  z-index: 1;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  margin-top: 20px;
  letter-spacing: -5px;
  color: var(--thersty-color);
  margin-bottom: -70px;
  overflow: visible;
  font-family: var(--secondaryFont);
}

/* Responsive */
@media (max-width: 1024px) {
  .container {
    flex-direction: column;
  }
  
  .contactSection, .ctaSection, .locationsSection {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
  }
  
  .bigText {
    font-size: 50px;
  }
  
  .socialIcons {
    justify-content: center;
  }
}